*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.border{
    width: 500px;
    height: 500px;
    background-color: cyan;
    border-radius: 50px 0;
}
div{
    text-align: center;

}
h1{
    margin: 0;
    padding: 0;
}
.margin{
width: 100%;
height: 800px;
background-color: green;
}
.margin .border{
    width: 80%;
    height: 600px;
    background-color: yellow;
    margin: 80px auto;
}
.margin .border .padding{
    width: 60%;
    height: 400px;
    background-color: skyblue;
    margin: 80px auto;
}
.margin .border .padding .content{
    width: 40%;
    height: 200px;
    background-color: brown;
    margin: 80px auto;
    padding: 80px;
}
.content h1{
    color: white;
}
#border_task{
    width: 100%;
    margin: 150px 0;
}
#border_task img{
    margin: 0 300px;
    width: 600px;
    height: 200px;
    object-fit: cover;
    border: 4px solid black;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
}
.div{
    width: 200px;
    height: 200px;
    background-color: violet;
}
button:hover .div{
background-color: red;
}
button:hover{
    background-color: tomato;
}
